/* GLOBAL FONT */
html, body {
    font-family: Helvetica, Arial, sans-serif;
}

button, input[type="button"], input[type="submit"], input[type="reset"] {
    font-family: Kermit !important;
}

/* NAVBAR */
nav {
    background-color: #F6D94A;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: black;
    margin-right: 15px;
    text-decoration: none;
}

/* PROFILE MENU */
#profile-menu {
    position: relative;
    display: inline-block;
}

/* Account Settings button */
#profile-btn {
    background: #6FB34A;
    color: rgb(0, 0, 0,);
    padding: 10px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}


.danger {
    color: red;
}
